.idea/*
test/replicadb-ora2pg.conf
ReplicaDB-0.1.1.zip
ReplicaDB-0.1.1.tar.gz
lib/postgresql-42.2.1.jar
lib/ojdbc8.jar
lib/log4j-core-2.11.1.jar
lib/log4j-api-2.11.1.jar
lib/junit-4.11.jar
lib/hamcrest-core-1.3.jar
lib/commons-cli-1.4.jar
