.idea/*
wizard/.idea/*
.settings/*
lib/*
test/*
ReplicaDB-*.jar
ReplicaDB-*.zip
ReplicaDB-*.gz
package-release.sh
.project
.classpath
.factorypath
ReplicaDB.srctrlbm
ReplicaDB.srctrldb
ReplicaDB.srctrlprj
sourcetrail_dependencies/*
