.idea/*
wizard/.idea/*
.settings/*
lib/*
target/*
test/*
sourcetrail_dependencies/*
ReplicaDB-*.jar
ReplicaDB-*.zip
ReplicaDB-*.gz
package-release.sh
.project
.classpath
.factorypath
ReplicaDB.srctrlbm
ReplicaDB.srctrldb
ReplicaDB.srctrlprj
usql
data/*
create_db.log
create_db_error.log
.DS_Store
.vscode