<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} %-5p %c{1}:%L %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Silence noisy libraries -->
        <Logger name="org.apache.http" level="warn"/>
        <Logger name="org.apache.http.wire" level="error"/>
        <Logger name="org.apache.http.headers" level="warn"/>
        <Logger name="com.github.dockerjava" level="warn"/>
        <Logger name="org.testcontainers" level="info"/>
        <Logger name="com.github.dockerjava.zerodep.shaded" level="error"/>
        <Logger name="org.apache.log4j.xml" level="info"/>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>