
<meta property="og:type" content="article">
<meta property="og:title" content="ReplicaDB">
<meta property="og:description" content="ReplicaDB - Open Source Database Replication Software">
<meta property="og:url" content="https://osalvador.github.io/ReplicaDB" />
<meta property="og:image" content="https://raw.githubusercontent.com/osalvador/ReplicaDB/gh-pages/docs/media/replicadb-logo.png">
<meta property="og:image:secure_url" content="https://raw.githubusercontent.com/osalvador/ReplicaDB/gh-pages/docs/media/replicadb-logo.png" />
<meta property="og:site_name" content="ReplicaDB" />

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="ReplicaDB">
<meta name="twitter:description" content="ReplicaDB - Open Source Database Replication Software">
<meta name="twitter:image" content="https://raw.githubusercontent.com/osalvador/ReplicaDB/gh-pages/docs/media/replicadb-logo.png">

<script type='application/ld+json'>
    {
        "@context":"https://schema.org",
        "@type":"BreadcrumbList",
        "itemListElement":[
           {
              "@type":"ListItem",
              "position":1,
              "item":{
                 "@id":"https://osalvador.github.io/ReplicaDB",
                 "name":"Home"
              }
           },
           {
              "@type":"ListItem",
              "position":2,
              "item":{
                 "@id":"https://osalvador.github.io/ReplicaDB/docs/user-guide.html",
                 "name":"Documentation"
              }
           }
        ]
     }
</script>


